<header id="customHeader" class="top-header">
    <div class="fixed-header">
        <div class="inner-content">
            <div class="logo">
                <a href="/">
                    <img src="https://contentstackdocs.built.io/static/images/logo_white.png"
                         title="Built.io Contentstack" class="hide normal">
                </a>
            </div>
            <nav class="header-right api">
                <ul>
                    <li><a href="https://contentstackdocs.built.io/" target="_blank">Documentation<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    <li><a href="/cda">Content Delivery API</a></li>
                    <li><a href="/cma">Content Management API</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="mobile-nav">
    <i class="fa fa-bars"></i>
</div>