{% extends "layouts/default.html" %}
{% block content %}
<script>
    var embed = new Apiary.Embed({
        subdomain: 'contentdeliveryapibuiltiocontentstack',
        customFonts: {
            families: [
                {
                    name: 'Proxima Nova',
                    style: 'normal',
                    weight: 200,
                    formats: [
                        {
                            format: 'otf',
                            url: '/static/fonts/ProximaNova-Regular.otf'
                        }

                    ]
                }
            ]
        },
        header: '#customHeader',
        preferences: {
            defaultHost: "production",
            fluidHumanColumn: true,
            permalinks: true,
            collapseMachineColumnByDefault: true
        },
        hosts: [
            "production"
        ],
        theme: {
            fontFamily: "Proxima Nova,Helvetica,Arial,sans-serif",
           // fontFamily: 'Comic Sans MS',
            tableOfContents: {
                section: {
                    title:{
                        text:{
                            "fontSize":"10pt"
                        }
                    },
                    item: {
                        "outline":"none",
                        "fontSize":"15px",
                        "line-height":"22px",
                        "background-repeat":"no-repeat",
                        "background-position":"-12px -6px",
                        "padding-left":"15px;",
                        "background-image":"url(https://contentstack.built.io/v2/uploads/58e357f89c16a824496892b7/download?uid=blt3cc2301ae95a716e&disposition=inline)",
                        $selected: {
                            text: {
                                "color": "#e44952",
                                "font-weight":"300"
                            }
                        },
                        subitems:{
                            "border":"none",
                            "outline":"none",
                            "position":"relative",
                            subitem:{
                                "outline":"none",
                                "border": "none",
                                "background-repeat":"no-repeat",
                                "background-position":"-12px 1px",
                                "padding-left":"12px;",
                                "background-image":"url(https://contentstack.built.io/v2/uploads/58e34171e4f524fe4ce0ce11/download?uid=blt08dd42b4e9b47706&disposition=inline)",
                                $selected: {
                                    text: {
                                        "color": "#e44952",
                                        "font-weight":"300"
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    });
</script>
{% endblock %}