{% extends "layouts/default.html" %}
{% block content %}
<script>
    var embed = new Apiary.Embed({
        subdomain: 'contentdeliveryapibuiltiocontentstack',
        customFonts: {
            families: [
                {
                    name: 'Proxima Nova',
                    style: 'normal',
                    weight: 200,
                    formats: [
                        {
                            format: 'otf',
                            url: '/static/fonts/ProximaNova-Regular.otf'
                        }

                    ]
                }
            ]
        },
        header: '#customHeader',
        preferences: {
            defaultHost: "production",
            fluidHumanColumn: true,
            permalinks: true,
            collapseMachineColumnByDefault: true
        },
        hosts: [
            "production"
        ],
        theme: {
            fontFamily: "Proxima Nova,Helvetica,Arial,sans-serif",
           // fontFamily: 'Comic Sans MS',
            tableOfContents: {
                section: {
                    title:{
                        text:{
                            "fontSize":"10pt"
                        }

                    },
                    item: {
                        "fontSize":"15px",
                        "line-height":"22px"
                    }
                }

            }
        }
    });
</script>

{% endblock %}