{% extends "layouts/default.html" %}
{% block content %}
<script>
    var embed = new Apiary.Embed({
        subdomain: 'contentdeliveryapibuiltiocontentstack',
        /*customFonts: {
            families: [
                {
                    name: 'Proxima Nova',
                    style: 'normal',
                    weight: '200',
                    formats: [
                        {
                            format: 'otf',
                            url: '/static/fonts/proxima/ProximaNova-Regular.otf'
                        },
                        {
                            format: 'otf',
                            url: '/static/fonts/proxima/ProximaNova-Light.otf'
                        },
                        {
                            format: 'otf',
                            url: '/static/fonts/ProximaNova-Semibold.otf'
                        }

                    ]
                }
            ]
        },*/
        customFonts: {
            googleFonts: 'https://fonts.googleapis.com/css?family=Open+Sans:700italic,800italic,400,600,700,800'
        },
        header: '#customHeader',
        preferences: {
            defaultHost: "production",
            fluidHumanColumn: false,
            permalinks: true,
            collapseMachineColumnByDefault: false
        },
        hosts: [
            "production"
        ],
        theme: {
            /*fontFamily: 'Proxima Nova',*/
            fontFamily: 'Open Sans',
            tableOfContents: {
                "margin-left": "0",
                "padding": "30px 5px 0 35px",
                "backgroundColor": "#fafafa",
                "borderRight": "1px solid #eaedef",
                section: {
                    title:{
                        text:{
                            color: "#444",
                            fontWeight:"600",
                            fontSize: "16px",
                            textTransform: "capitalize",
                            borderBottom:"0"
                        }
                    },
                    item: {
                        outline:"none",
                        color: "#4A5960",
                        fontSize:"15px",
                        lineHeight:"22px",
                        fontWeight:"500",
                        backgroundRepeat:"no-repeat",
                        backgroundPosition:"4px 7px",
                        paddingLeft:"15px;",
                        backgroundImage:"url(https://contentstack.built.io/v2/uploads/58ecc4c8c150dcf310b55ff6/download?uid=blt4e4b89b852a5201e&disposition=inline)",
                        text:{
                            borderBottom:"0"
                        },
                        $selected: {
                            text: {
                                color: "#e44952"
                            }
                        },
                        subitems:{
                            border:"none",
                            outline:"none",
                            position:"relative",
                            subitem:{
                                color: "#4A5960",
                                fontSize:"15px",
                                lineHeight:"20px",
                                fontWeight:"500",
                                outline:"none",
                                border: "none",
                                backgroundRepeat:"no-repeat",
                                backgroundPosition:"0px 9px",
                                marginLeft: "1px",
                                paddingLeft:"12px;",
                                /*backgroundImage:"url(https://contentstack.built.io/v2/uploads/58ecc7da217ce751099faa82/download?uid=blt8818acfadb1a8f25&disposition=inline)",*/
                                $selected: {
                                    text: {
                                        color: "#e44952"
                                    }
                                },
                                text:{
                                    borderBottom:"0",
                                    padding:"2px"
                                }
                            }
                        }
                    }
                }

            },
            humanColumn: {
                paddingBottom: "0px",
                header:{
                    button:{
                        icon:{
                            cursor:"pointer"
                        }
                    },
                    breadcrumb:{
                        overflow:"hidden",
                        paddingLeft:"0",
                        container:{
                            item:{
                                paddingLeft:"24px",
                                fontSize:"16px",
                                lineHeight:"71px",
                                $section:{
                                    color:"#4A5960",
                                    fontWeight:"600"
                                },
                                $item:{

                                },
                                $subitem:{

                                }
                            }
                        }
                    }
                },
                wrapper: {
                    /*"background": "url(https://help.apiary.io/images/embed/Artboard.png)"*/
                },
                content: {
                    apiName: {
                        color: "#4f6471",
                        fontSize: "22px",
                        fontWeight: "500"
                    },
                    section: {
                        title: {
                            text: {
                                color: "#3c4f5a",
                                fontSize: "26px",
                                textTransform: "capitalize",
                                fontWeight: "normal"
                            }
                        },

                        apiDescription: {
                            p: {
                                color: "#4A5960",
                                fontSize: "15px",
                                lineHeight:"24px",
                                marginBottom: "26px",
                                a: {
                                    color: "#25c2a3",
                                    textDecoration: "none",
                                    borderBottom: "0"
                                }
                            },

                            h2: {
                                fontSize: "20px",
                                color: "#3c4f5a",
                                fontWeight: "600",
                                "-webkit-font-smoothing": 'antialiased'
                            },

                            h3: {
                                fontSize: "16px",
                                color: "#3c4f5a"
                            },
                            table: {
                                color: "#4A5960",
                                fontSize: "15px",
                                lineHeight:"24px",
                                marginTop: "5px",
                                marginBottom: "10px",
                                clear: "both",
                                borderSpacing: "0",
                                borderRadius: "3px",
                                border: "2px solid #d5dbdc",
                                thead:{
                                    backgroundColor: "#f3f7f8"
                                },
                                tbody:{

                                },
                                tr:{
                                    td:{
                                        padding: "20px 15px 20px 30px",
                                        borderRight: "0",
                                        borderTop: "0",
                                        borderBottom: "1px solid #f5f5f5"
                                    },
                                    th:{
                                        padding: "20px 15px 20px 30px",
                                        borderRight: "0",
                                        textTransform: "uppercase",
                                        fontSize: "13px",
                                        color: "#4f6471",
                                        borderBottom :"0"
                                    }
                                }
                            },
                            code:{
                                color: "#4A5960",
                                fontSize: "15px",
                                lineHeight:"22px",
                                margin: "2px 0"
                            }
                        },
                        resourceGroups: {
                            resourceGroup: {
                                name: {
                                    color: "#3c4f5a",
                                    fontSize: "20px",
                                    fontWeight: "600",
                                    textTransform: "capitalize"
                                },

                                description: {
                                    color: "#4A5960",
                                    fontSize: "15px",
                                    lineHeight:"24px",
                                    p:{
                                        a:{
                                            color: "#25c2a3",
                                            textDecoration: "none",
                                            borderBottom: "0"
                                        }
                                    }
                                },
                                resources: {
                                    resource: {
                                        name: {
                                            fontSize: "16px",
                                            color: "#3c4f5a",
                                            fontWeight: "600"
                                        },
                                        description: {
                                            color: "#4A5960",
                                            fontSize: "15px",
                                            lineHeight:"24px",
                                            code:{
                                                fontSize: "15px",
                                                lineHeight:"22px",
                                                margin: "2px 0"
                                            },
                                            p: {
                                                a:{
                                                    color: "#25c2a3",
                                                    textDecoration: "none",
                                                    borderBottom: "0"
                                                }
                                            }
                                        },
                                        actions: {
                                            action: {
                                                invitation: {
                                                    backgroundColor: "#f5f9fa",
                                                    $hover:{
                                                        backgroundColor: "#d6f5e9"
                                                    },
                                                    text: {
                                                        fontSize: "16px",
                                                        fontWeight: "normal"
                                                    },
                                                    $selected:{
                                                        text:{
                                                            color:"#4A5960"
                                                        }
                                                    }
                                                },
                                                description: {
                                                    color: "#4A5960",
                                                    fontSize: "16px",
                                                    lineHeight:"24px",
                                                    paddingLeft:"20px",
                                                    code:{
                                                        fontSize: "15px",
                                                        lineHeight:"22px",
                                                        margin: "2px 0"
                                                    },
                                                    p:{
                                                        a:{
                                                            color: "#25c2a3",
                                                            textDecoration: "none",
                                                            borderBottom: "0"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            machineColumn: {
                header:{
                    closeButton:{
                        icon:{

                        }
                    },
                    consoleButton: {
                        button:{
                            text:{

                            }
                        }
                    }
                },
                content:{
                    blankSlate:{
                        title:{
                            /*color:"#e44952",*/
                            text:{

                            }
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}