@font-face {
    font-family: 'proximaNovaLight';
    src: url('../fonts/proxima/ProximaNova-Light.otf');
}
@font-face {
    font-family: 'proximaNovaRegular';
    src: url('../fonts/proxima/proxima-nova-regular.otf');
}
@font-face {
    font-family: 'proximaNoveBold';
    src: url('../fonts/proxima/ProximaNova-Bold.otf');
}
@font-face {
    font-family: 'proximaNovaSemiBold';
    src: url('../fonts/proxima/ProximaNova-Semibold.otf');
}